/* colors and margins */
// grays 1-lightest 
$white-transparent3: rgba(255, 255, 255, 0.5);
$gray1: #D2D2D2;
$gray1-transparent: rgba(106, 112, 133, 0.3);
$gray2: #9B9999;
$gray3: #666665;
$gray5: #212121;
$gray5-transparent: rgba(33, 33, 33, 0.7);
$orange: #E28D1F;

$nav-width: 14rem;

html, body {
    width: 100%;
}

body {
    font-family: "sans-serif";
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-rendering: auto;
    font-size: 20px;
}

p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

ul {
    list-style: none;
}

header {
    font-weight: 800;
}

@mixin common-nav-style {
    cursor: pointer; 
    left: 0;
    background-color: $gray5;
    color: $gray1;

    a {
        color: $gray1;
        text-decoration: none;
        box-shadow: none;

        &:hover {
            color: $orange;
        }
    }

    .small {
        font-size: .75rem;
    }
}

/* MAIN FONT VIEW */
#main-container {
    background-color: #fff;
    min-height: 100%;
    position: relative;
}

nav {
    @include common-nav-style;

    display: inline-block;
    position: absolute;
    top:0;
    left: 0;
    z-index: 10;
    min-height: 100%;
    width: $nav-width;

    vertical-align: top;
    text-align: right;
    
    font-size: .75rem;
    padding: 0 1rem 4rem .5rem;

    header {
        text-align: left;
        margin: 1rem 0 .3rem 0;
    }

    label {
        display: block;
        font-weight: 600;
        margin: 0 0 1rem 0;
    }

    select {
        border: none;
        padding: 0 5px 0 5px;
        min-width: 8rem;
        margin: 0 0 0 .4rem;
        background-image: none;
        background-color: $gray3;
        color: white;

        option {
            font-weight: 300;
            &:checked {
                font-weight: 700;
            }
        }
        
    }

    #clear-filters {
        display: block;
        font-weight: 800;
        cursor: default;
        margin-bottom: .5rem;

        &:hover {
            color: $orange;
        }
    }

    button {
        border: none;
        background-color: white;
        color: $gray3;
        font-weight: 800;
        padding: .7rem .9rem .7rem .9rem;
        margin: 1rem 0 1rem 0;

        &:hover {
            color: $orange;
        }
    }
}

#fonts-by-letter {
    background-color: $gray5-transparent;
    color: $gray1;
    padding: 0 2rem 0 0;
    margin: 0 0 0 0;
    top: 0;
    right: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    text-align: right;
    cursor: default;
    font-weight: 700;
    font-size:16px;

    li {
        display: inline-block;
        padding: 3px 8px 3px 8px;
        &:hover {
            background-color: black;
        }
    }
}

#fontlist-container {
    vertical-align:top;
    width: 75%;
    min-height: 100%;
    position: relative;
    padding-top: 4rem;
    left: $nav-width;
    display: inline-block;

    .font-container {
        border: 1px solid $gray3;
        margin: 1.3rem 0 1.3rem 2rem;
        padding: 1.3rem;

        strong {
            font-weight: 800;
            font-size: 1.3rem;
        }

        .font-name {
            font-size: 2rem;
        }

        $indent: 2rem;

        .font-info {
            margin-left: $indent;
            border-collapse: collapse;
            font-size: .65rem;
            color: $gray3;
            font-weight: 400;

            td {
                border: 1px solid $gray2;
                padding: 2px 10px 3px 10px;
            }
        } // font-info

        .font-list {
            padding: 0 0 0 0;
            margin-left: $indent;

            li {
                display: inline-block;
                padding: 4px 6px 2px 6px;
                cursor: default;

                .font-link {
                    text-decoration: none;
                    color: inherit;
                    text-decoration: none;
                    &:hover {
                        background: $gray1-transparent;
                    }
                } // font-link
            } // font-list li
        } // font-list
    } // fontlist-container

    .no-fonts {
        text-align: center;
    }
}

#next-prev-container {
    position: fixed;
    width: 100%;
    margin-left: $nav-width;
    bottom: 0;
    font-size: 14px;

    .tiny-info {
        font-size: .60rem;
    }
}

#next-prev-fonts {
    display: inline-block;
    background-color: $gray5-transparent;
    color: white;
    cursor: default;
    font-weight: 800;
    padding: 6px 0 6px 0;
    text-align: center;

    span {
        padding: 6px 14px;
    }

    #next, #prev, #back-to-start {
        &:hover {
            background-color: black;
        }
    }
    
    #back-to-start {
        color: $gray3;
    }
}

/* SPECIMEN */
$specnav-header-height: 3rem;

@mixin specimen-nav-common {
    @include common-nav-style;
    width: 28rem;
    padding: 9px;

    .specnav-link {
        margin-bottom: 6px;
        font-weight: 700;
    }
}

.specimen-nav-header {
    @include specimen-nav-common;
    position: fixed;
    top: 0;
    z-index: 10;
    height: $specnav-header-height;
    font-size: 1rem;

    p {
        display: inline-block;
        vertical-align: top;
        padding-bottom: 4px;
    }

    .specimen-title {
        font-weight: 800;
    }

    .specnav-link-container {
        width: 20%;
    }

    .specnav-font-name {
        width: 75%;
    }

    #close-specimen {
        font-size: 1rem;
        padding-right: 10px;
    }

    #show-nav {
        font-weight: 800;
        padding-right: 10px;

        &:hover {
            color: $orange;
        }
    }
}

.specimen-nav {
    @include specimen-nav-common;
    position: absolute;
    top: $specnav-header-height;
    background-color: $gray5-transparent;
    height: 100%;
    padding-top: 1.5rem;

    p, div {
        margin: 0 0 1rem 0;
        max-width: 100%;
    }
    
    span {
        padding: 4px 6px 8px 6px;
    }

    span.has-action {
        &:hover {
            color: $orange;
        }
    }
} 

.specimen {
    background-color: $gray1;
    margin-top: 2.5rem;

    .block-name, .cat-name {
        font-weight: 800;
        padding: 4px;
    }

    .block-name {
        margin-top: 1rem;
        font-size: 1.4rem;
        text-align: center;
        color: #000;
        background-color: #fff;
    }

    .char-container {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: flex-start;
        padding: 1.5rem;

        .cat-name {
            color: $gray3;
            flex: 0 0 10%;
            align-self: center;
            margin: -2px;
            font-size: 75%;
            letter-spacing: 2px;
        }

        div {
            flex: 0 0 10%;
            background-color: #fff;
            margin: 2px 2px 4px 2px;
            text-align: center;
            padding: 1rem 0 0 0;

            .cp {
                font-size: 1rem;
                padding-bottom: .3rem;
            }

            .ent-name {
                color: $gray2;
                border-top: 1px solid $gray2;

                font-weight: 700;
                padding: .3rem 3px 1rem 3px;
                font-size: .75rem;
                word-break: break-all;
            }
        }
    }
}

#back-to-top {
    position: fixed;
    bottom: 0px;
    right:15%;
    background-color: rgba(0,0,0,0.6);
    padding: 24px;
    color: white;
    font-weight: 800;
    cursor: default;

    &:hover {
        background-color: rgba(0,0,0,0.7);
    }
}

/* LOREM IPSUM */
#lipsum-container {
    padding: 5.5rem 10rem 0 10rem;

    .lipsum-text-container {
        margin-bottom: 2rem;
        padding: 1.5rem;
        border: 1px solid $gray2;
    }

    .lipsum-text {
        margin-bottom: 1rem;
        text-indent: 3rem;
    } 

    .lipsum-options {
        text-align:right;
        position: fixed;
        top: 0;
        right: 0;
        padding-bottom: 7px;
        background-color: $white-transparent3;

        span {
            padding: 9px 13px 7px 13px;
        }

        .lipsum-option {
            cursor: default;
            font-weight: 800;
            color: $gray3;
            border: 1px solid $gray3;

            &:hover {
                background-color: $gray1-transparent;
                border: 1px solid $gray2;
            }
        }
    }

    .small-label {
        font-family: sans-serif !Important;
        font-weight: 800;
        font-size: .85rem;
        color: $gray2;
    }

    .show-hide-lipsum {
        cursor: default;
        &:hover {
            color: $gray3;
        }
    }
}

.dark-on-light {
    background-color: $gray5;
    color: $gray1;
}
