<style>{{ chardata.fontcss }}</style>

<lipsum></lipsum>

<!-- this is the nav -->
<div class="specimen-nav-header">
    <div
     class="specimen-title">
        <p class="specnav-link-container">
        <a href="/#/" 
           id="close-specimen"
           style="font-family: sans-serif;">close</a>

         <span id="show-nav" 
             ng-click="toggleNavVisible()">&#9776;</span>
        </p>
        <p class="specnav-font-name">
             {{ chardata.fontdata.full_name }}
        </p>
    </div>
</div>

<div class="specimen-nav" ng-show="navVisible">
    <p>
        <a class="specnav-link" href="/download/{{ chardata.fontdata.id }}">download</a>
    </p>

    <p>
        <a class="specnav-link" href="/downloadall/{{ chardata.fontmeta.id }}">download all</a>
    </p>

    <p class="small">
        by: {{ chardata.fontmeta.designer }}
    </p>
    
    <p class="small">
    subsets: <span ng-repeat="s in chardata.fontmeta.subsets">{{ s }}<span ng-show="!$last">,</span></span>
    </p>

    <p>
    <span class="has-action" 
        ng-click="familiesVisible = !familiesVisible"
        ng-init="familiesVisible=false">all in family &gt;</span> 

        <a class="specnav-link" ng-show="familiesVisible"
              ng-repeat="f in chardata.fontmeta.fonts"
              href="#/specimen/{{ f.id }}">{{ f.post_script_name }}<span ng-show="!$last">,</span> </a>
    </p>
    
    <div>
        <span class="has-action" 
            ng-click="unicodeBlocksVisible = !unicodeBlocksVisible"
            ng-init="unicodeBlocksVisible=false"
            >unicode blocks &gt;</span>
        <p>
            <a class="specnav-link" ng-show="unicodeBlocksVisible"
               ng-repeat="b in chardata.entities" 
               ng-click="scrollToBlock(b.name)"
               >{{ b.name }}<span ng-show="!$last">,</span> </a>
        </p>
    </div>

    <div>
        <span class="has-action" 
              ng-click="copyrightVisible = !copyrightVisible"
              ng-init="copyrightVisible=false">copyright &gt;</span>
        <p ng-show="copyrightVisible">{{ chardata.fontdata.copyright }}</p>
    </div>
</div> <!-- nav -->

<div class='specimen' ng-click="navVisible = false">
    <div ng-repeat="block in chardata.entities">
        <p id="{{ block.name | strReplace:' ':'-' }}" class="block-name">{{ block.name }}</p>
        <div class="char-container" ng-repeat="cat in block.cats">
            <p class="cat-name">{{ cat.name }}</p>
            <div ng-repeat="char in cat.chars">
                <p class="cp" style="font-family: {{ chardata.fontdata.post_script_name }};" ng-bind-html="char.cp"></p> 
                <p class="ent-name">{{ char.name }}<br>{{ char.cp }} </p>
            </div>
        </div>
    </div>
</div>
<div id="back-to-top" ng-show="showBackToTop" ng-click="scrollToTop()">top</div>
