<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>GregoryVigoTorres</title>
    <meta name='viewport' content="width=device-width, initial-scale=1, maximum-scale=1, height=device-height">

    {% assets "css" %}
        <link href="{{ ASSET_URL }}" media="all" type="text/css" rel="stylesheet"></link> <!-- asset url -->
    {% endassets %}

    {% assets "public" %}
        <link href="{{ ASSET_URL }}" media="all" type="text/css" rel="stylesheet"></link>
    {% endassets %}

</head>
<body>
    <div class='main-container'>
        <header>
            <h2>{{title }}</h2>
        </header>

        {% block content %}{% endblock %}

    <div class='right-col'>
        <p>this is the right col/aside</p>
    </div>

    <footer>
        copyright: None · This is the footer
    </footer>
</div>
</body>
</html>
