<div id='center-col'>
    <div ng-repeat="i in fontlist.fontdata track by $index" class='font-container'>
        <span class="font-name" style="font-family: {{ i.reg_font_face }};">{{ i.name }}</span>
        <table class="font-info">
            <thead>
                <tr>
                    <th>category</th>
                    <th>designer</th>
                    <th>license</th>
                    <th>subsets</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ i.category }}</td>
                    <td>{{ i.designer }}</td>
                    <td>{{ i.license }}</td>
                    <td><span ng-repeat="s in i.subsets">{{ s }},&nbsp;</span></td>
                </tr>
            </tbody>
        </table>

        <ul class='font-list'>
            <li ng-repeat="font in i.fonts track by $index" 
                style="font-family: {{ font.post_script_name }}, sans-serif;" "font-weight: {{ font.weight }};">
                <span class="font-link" id="{{ font.id }}">{{ font.post_script_name }}</span> 
            </li>
        </ul>
    </div>
</div>
