<!DOCTYPE html>
<html ng-app="fontApp">
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content="width=device-width, initial-scale=1, maximum-scale=1, height=device-height">

    {% assets "public" %}
        <link href="{{ ASSET_URL }}" media="all" type="text/css" rel="stylesheet"></link>
    {% endassets %}
    
    {% assets "angular-js-min" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "font_app" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    
    <title>Not My Type</title>
</head>
<body>
    <div ng-view></div>
</body>
</html>
